* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* #region common */
:root {
    --background-colour: #13A3B5;
    --container-colour: #E2EFDE;
    --font-colour: #011627;
}

body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-content: center;
    font-family: "Roboto", sans-serif;
    background-color: var(--background-colour);
    color: var(--font-colour);
}
/* #endregion common */

/* #region inputs */
h1 {
    text-align: center;
}

.container {
    width: 80%;
}

.row {
    margin: 3rem 0;
    padding: 2rem;
    border-radius: 1rem;
    box-shadow: var(--font-colour) 0px 0px 20px 1px;
    background-color: var(--container-colour);
}

/* #region classi dinamiche */
.d-none {
    display: none !important;
}
/* #endregion classi dinamiche */
.d-flex {
    display: flex;
    flex-wrap: wrap;
}

.justify-content-center {
    justify-content: center;
}

.justify-content-space-between {
    justify-content: space-between;
}

.col-4 {
    width: calc((100% / 12) * 4);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.col-2 {
    width: calc((100% / 12) * 2);
    display: flex;
    flex-direction: column;
}

.mt-1 {
    margin-top: 1rem;
}

.my-1 {
    margin: 1rem 0;
}

.btn {
    padding: .5rem;
    border: 1px solid var(--font-colour);
    border-radius: .5rem;
    background-color: var(--background-colour);
}
/* #endregion inputs */